<%- include("header")  -%>
<h2>This is the about page</h2>
<p>dlkfnkds lkdj lkdsafglkdsangsdfvglkav mbvjwflkjvlkj hfslkflakjsdfhs hkjhadfj hfclkj sbadfhj dfjwlkfh dsa ofljw wck s;dfhlkj hlkjdLKJD K</p>
<%- include("footer")  -%>
